<img style="position: absolute; width: 100%; height: 100%" src="../assets/bg.jpg" />
<img style="position: absolute; top: 150px;" src="../assets/tree_transparent.png" />
<img style="position: absolute; width: 120px; top: 350px; left: 300px" *ngIf="decorations.includes('balls')" src="../assets/balls.png" />
<img style="position: absolute; width: 120px; top: 550px; left: 200px" *ngIf="decorations.includes('balls')" src="../assets/balls.png" />
<img style="position: absolute; width: 120px; top: 650px; left: 350px" *ngIf="decorations.includes('balls')" src="../assets/balls.png" />
<img style="position: absolute; width: 480px; top: 650px; left: 120px" *ngIf="decorations.includes('lights')" src="../assets/lights.png" />
<img style="position: absolute; width: 350px; top: 450px; left: 200px" *ngIf="decorations.includes('lights')" src="../assets/lights.png" />
<img style="position: absolute; width: 120px; top: 160px; left: 300px" *ngIf="decorations.includes('star')" src="../assets/star.png" />
<img style="position: relative; margin-left: 1000px; width: 500px; top: 250px;;" src="../assets/grinch.png" />