@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 fixed-top">
        <h2>Memento - Map Creator</h2>
        <a href="https://refactoring.guru/design-patterns/memento" target="_blank" class="ml-md-auto">Refactoring Guru: Memento</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
