<div class="container">
  <h1 class="mt-5">Cryptocurrency market</h1>

  <h3 class="mt-5 fw-bold">Bitcoin value: {{ bitcoin.price }}</h3>

  <div class="row mt-5">
    <div class="col-3" *ngFor="let person of persons">
      <div class="card">
        <img *ngIf="person.isHappy" src="assets/happy.png" class="card-img-top">
        <img *ngIf="person.isSad" src="assets/sad.png" class="card-img-top">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><h4 class="card-title fw-bold">{{ person.name }}</h4></div>
            <div><p class="card-text">Buy in price {{ person.buyInPrice }}</p></div> 
          </div>
          <p class="fw-bold">Profit: <span [ngClass]="{'text-success': person.profit >= 0, 'text-danger': person.profit < 0}">{{ person.profit }}€</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
